* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 50vh;
    --card-width: calc(var(--card-height) / 1.5);
    --dark-color: #22222D;
    --blue-color: #4f55b0;
    --sky-color: #9dc9d8;
    --purple-color: #a47cba;
    --light-color: #f2f2f2;
  }
  
  
  body {
    background-color: var(--dark-color);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  
  .card {
    background: var(--dark-color);
    width: var(--card-width);
    height: var(--card-height);
    min-width: 300px;
    min-height: 400px;
    margin: 0 auto;
    padding: 2em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-family: 'Tangerine', cursive;
  }

  .card:hover:before, .card:hover:after {
    opacity: 60%;
  }

  /* text */
  h1 {
    color: white;
    margin: 160px 0 40px 0;
  }

  #quote {
    color:white;
    font-family: 'Gloock', serif;
    font-family: 'Tangerine', cursive;    
    font-size: 1em;
  }

  #author {
    color:white;
    font-family: 'Gloock', serif;
    font-size: 0.8rem;
  }

  #author::before {
    color:white;
    font-family: 'Gloock', cursive;
    font-size: 0.8rem;
  }

  #quote:hover, #author:hover, .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }


  /* buttons */
    #quote-btn {
    display: block;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size:  1em;
    color:white;
    background-image: linear-gradient(to bottom right, #3c67e3, #4e00c2);
    width: 60%;
    max-width: 400px;
    margin: 4em auto 7em auto;
    padding: 1.2em 0;
    border-radius: 10px;
    box-shadow:0px 10px 10px rgb(18, 28, 73, 80%);
    cursor: pointer;
  }

  #quote-btn:hover {
    background-image: linear-gradient(to bottom right, #2c53ca, #4203a1);
  }

  #color-btn {
    font-family: 'Schibsted Grotesk', sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-color);
    color: #f2f2f2;
    cursor: pointer;
    box-shadow:0px 3px 10px #101014;
  }

  .fa-wand-magic-sparkles {
    padding: 0 10px;
  }


  /* theme colours */
  .dark-mode {
    background-color: #333;
    color:var(--light-color);
  }

  .dark-mode #quote-btn {
    background-image: linear-gradient(to bottom right, #1e1f2d, #110e17);
    box-shadow:0px 10px 10px hsla(245, 26%, 8%, 0.6);
  }

  .dark-mode #quote-btn:hover {
    background-image: linear-gradient(to bottom right, #181923, #0c0b0e);
    box-shadow:0px 10px 10px hsla(245, 26%, 8%, 0.6);
  }
  
  .light-mode {
    background-image: url(img/light.jpeg);
    background-size: cover;
    color: #333;
  }

  .light-mode h1 {
    color: #333;
  }

  .rainbow-mode {
    background-image: url(img/rainbow.jpg);
    background-size: cover;
    color: #333;
  }

  .rainbow-mode h1 {
    color: #333;
  }

  .glitter-mode {
    background: url(img/glitter.jpeg);
    background-size: cover;
    color: #333;
  }

  .glitter-mode h1 {
    color: #333;
  }
  
  .glitter-mode #quote-btn {
    background-image: linear-gradient(to bottom right, #70425c, #481338);
    box-shadow:0px 10px 10px hsl(338, 68%, 6%, 60%);
  }
  
  .glitter-mode #quote-btn:hover {
    background-image: linear-gradient(to bottom right, #62354e, #360b29);
  }

  .purple-mode {
    background-color: var(--purple-color);
    color: var(--light-color);
  }

  .purple-mode #quote-btn {
    background-image: linear-gradient(to bottom right, #715296, #412662);
    box-shadow:0px 10px 10px hsl(338, 68%, 6%, 60%);
  }
  
  .purple-mode #quote-btn:hover {
    background-image: linear-gradient(to bottom right, #5c3d82, #351958);
  }

  .blue-mode {
    background-color: var(--blue-color);
    color: var(--light-color);
  }

  .flower-mode {
    background: url(img/flowers.jpg);
    background-size: cover;
    color: var(--light-color);
  }

  .flower-mode #quote-btn {
    background-image: linear-gradient(to bottom right, rgb(203, 33, 144), rgb(129,1,84));
    box-shadow:0px 10px 10px hsl(338, 68%, 6%, 60%);
  }

  .flower-mode #quote-btn:hover {
    background-image: linear-gradient(to bottom right, rgb(189, 27, 132), rgb(116, 4, 77));
  }

  .sky-mode {
    background: url(img/sky.jpg);
    background-size: cover;
    color: var(--light-color);
    background-color: var(--sky-color);
  }


  /* footer */
  .footer {
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: var(--dark-color);
    color: #f2f2f2;
    width: 100%;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    line-height: 1.5em;
    color: #f2f2f2;
    text-decoration: none;
  }


/* animation */
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  

  /* media query */
  @media only screen and (max-width: 550px) {
    h1 {
      font-size: 1.3em;
      margin-top: 100px;
      margin-bottom: 20px;
    }

    #quote-btn {
      margin-top: 10px;
      padding: 15px;
    }
  }